{% extends 'base.html' %}
{% block title %} Dog List {% endblock %}

{% block body %}
<p><a class="link" href="{% url 'index' %}">Back to home</a></p>
<h2 class="my-4">List of Registered Dogs</h2>

{% if dogs %}
<ul class="list-group">
    {% for dog in dogs %}
    <li class="list-group-item">
        <a href="{% url 'dog_detail' dog.pk %}" aria-label="View details of {{ dog.name }}">
            {{ dog.name }}
        </a>
        <span>|</span>
        <a href="{% url 'dog_update' dog.pk %}">Update</a>
        <span>|</span>
        <a href="{% url 'dog_delete' dog.pk %}" class="text-danger"
           onclick="return confirm('Are you sure you want to delete {{ dog.name }}?')">
            Delete
        </a>
    </li>
    {% endfor %}
</ul>
<p>Total dogs available: {{ dogs|length }}</p>
{% else %}
<div class="alert alert-warning" role="alert">
    No dogs to display!
</div>
{% endif %}
{% endblock %}
