{% extends 'base.html' %}
{% block title %} Shelters List {% endblock %}

{% block body %}
<p><a href="{% url 'index' %}">Back to home</a></p>
<div class="container"> Shelter List </div>

{% if shelters %}
{% for shelter in shelters %}
<ul class="list-group">
        <li class="list-group-item">
                <a href="{% url 'shelter_detail' shelter.pk %}">
                        {{shelter.name}}

                </a>

        </li>
</ul>
{% endfor %}
<p> We have {{shelters|length}} shelters available </p>
{% else %}
<h1>No sherters to display! </h1>
{% endif %}
{% endblock %}
