{% extends 'base.html' %}
{% block title %} Shelter Details {% endblock %}

{% block body %}
<p> <a href="{% url 'shelters_list' %}">Back to shelters list</a> </p>

<h1> Shelter Detail </h1>
{% if shelter %}
<table class="table">
        <thead>
        <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Name </th>
                <th scope="col"> Location </th>
        </tr>
        </thead>
        <tbody>
        <tr>
                <th> {{shelter.id }} </th>
                <td> {{shelter.name}} </td>
                <td> {{shelter.location}} </td>
        </tr>
        </tbody>

</table>
{% else %}
<p>shelter with Id {{shelter.id}} not found </p>
{% endif %}
{% endblock %}