{% extends 'base.html' %}
{% block title %} Shelters List {% endblock %}

{% block body %}
<h1> Shelter List </h1>

{% if shelters %}
<table class="table">
        <thead>
        <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Name </th>
                <th scope="col"> Location </th>
        </tr>
        </thead>
        <tbody>
        {% for shelter in shelters %}
        <tr>
                <th> {{shelter.id }} </th>
                <td> {{shelter.name}} </td>
                <td> {{shelter.location}} </td>
        </tr>
        {% endfor %}

        </tbody>

</table>
<p> We have {{shelters|length}} shelters available </p>
{% else %}
<h1>No sherters to display! </h1>
{% endif %}
{% endblock %}
